# Exam1

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [4]:
def lesser_of_two_evens(a,b): 
    
    if a % 2 == 0 and b % 2 == 0:
        
        return min(a,b)
    
    else:
        
        return max(a,b)

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [7]:
def animal_crackers(text):
    s1, s2 = text.split(' ')
    print(s1[0].upper() == s2[0].upper())

In [8]:
# Check
animal_crackers('Levelheaded Llama')

True

In [9]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [34]:
def makes_twenty(n1,n2):
    
    if (n1==20 or n2==20 or (n1+n2)==20):
         return True
    else:
        return False

In [35]:
# Check
makes_twenty(20,10)

True

In [36]:
# Check
makes_twenty(2,3)

False

OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [240]:
def old_macdonald(name):
    
    string = ''
    
    for i in range(len(name)):
        
        if i == 0:
            
            string = string + name[0].upper()
            
        elif i == 3:
            
            string = string + name[3].upper()
            
        else:
            
            string = string + name[i]
            
    return string

In [241]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [51]:
def almost_there(n):
    if (n in range(90,110)):
         return True
    elif (n in range(190, 210)):
         return True
    else:
         return False

In [52]:
# Check
almost_there(104)

True

In [53]:
# Check
almost_there(150)

False

In [54]:
# Check
almost_there(209)

True

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [222]:
def has_33(nums):
    
    for i in range(len(nums)-1):
        
        if nums[i:i+2] == [3,3]:
            
            return True
        
    return False

In [223]:
# Check
has_33([1, 3, 3])

True

In [224]:
# Check
has_33([1, 3, 1, 3])

False

In [225]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [75]:
def paper_doll(text):
    
    tripleWord=""
    
    for letter in range(len(text)):
        
        tripleWord = (text[letter]*3)
            
        print(tripleWord)

In [76]:
# Check
paper_doll('Hello')

HHH
eee
lll
lll
ooo

In [77]:
# Check
paper_doll('Mississippi')

MMM
iii
sss
sss
iii
sss
sss
iii
ppp
ppp
iii

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [163]:
def blackjack(a,b,c):
    
    thisTup = (a,b,c)
    
    roundOne = a+b+c
    
    x=thisTup.count(11)
    
    if (roundOne<=21):
        
        return (roundOne)
    
    elif (roundOne > 21 and x > 0):
        
            roundTwo = roundOne-10
            
            if (roundTwo > 21):
                
                return ("Bust")
            
            else:
                
                return (roundTwo)
            
    else:
        
        return ("Bust")

In [164]:
# Check
blackjack(5,6,7)

18

In [165]:
# Check
blackjack(9,9,9)

'Bust'

In [166]:
# Check
blackjack(9,9,11)

19

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [179]:
def summer_69(arr):
    
    sumList = sum(arr)
    
    sixCount = arr.count(6
                        )
    if (sumList == 0):
        
        return 0
    
    if (sixCount>0):
        
        six_Index = arr.index(6)
        
        nine_Index = arr.index(9)
        
        del arr[six_Index:nine_Index+1]
        
    sumList = sum(arr)
    
    return sumList

In [180]:
# Check
summer_69([1, 3, 5])

9

In [181]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [182]:
# Check
summer_69([2, 1, 6, 9, 11])

14

SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [233]:
def spy_game(nums):
    
    spyList=[]
    
    for num in nums:
        
        if (num ==0):
            
            spyList.append(num)
            
        if (num ==7):
            
            spyList.append(num)
            
    print(spyList)
    
    if spyList == [0,0,7]:
        
        return True
    
    else:
        
        return False

In [234]:
# Check
spy_game([1,2,4,0,0,7,5])

[0, 0, 7]

True

In [235]:
# Check
spy_game([1,0,2,4,0,5,7])

[0, 0, 7]

True

In [236]:
# Check
spy_game([1,7,2,0,4,5,0])

[7, 0, 0]

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [114]:
def count_primes(num):
    
    i = 0
    
    for item in range(num+1):
        if item <=1:
            continue
        if item == 2:
            i=1
            continue
        for n in range(2,item):
            if item % n == 0:
                break
        else:
            i +=1
            
    return i

In [115]:
# Check
count_primes(100)

25

## Great Job!